@font-face {
  font-family: 'Astloch';
  src: url('../../fonts/Astloch-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Astloch-B';
  src: url('../../fonts/Astloch-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  }
@font-face {
  font-family: 'Plaster';
  src: url('../../fonts/collects.ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Astloch-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
div {
  font-family: 'Astloch-B', Helvetica, Arial, sans-serif;
text-transform: lowercase;
}
#hint {
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
