@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/MajorMonoDisplay-Regular.ttf');
  }
  @font-face {
  font-family: 'RobotB';
  src: url('../../fonts/MajorMonoDisplay-Regular.ttf');
  }
  @font-face {
  font-family: 'Plaster';
    src: url('../../fonts/collects.ttf');
    font-weight: normal;
    font-style: normal;
  }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
}

#hint {

  text-align: center;
  padding: 20px;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
