---
---
{% include base.html %} 
<!DOCTYPE html> 
<html>
  <head>
     {% include allhead.html %} 
  </head>

  <body>
{% include navmenu.html %}
    <canvas style="display:none" id="canvas" width="285" height="285"></canvas>
    <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
    <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>

    <div id="content">
      <div class="flexitem">
        <h1>404 ERROR</h1>
      </div>
    </div>

  </body>

</html>
