---
title: Set Party Gang live
description: Hardware Jamsession 2019-12-14
video: /assets/vi/HardwareJam20191214.mp4
layout: room
---
{% include relBase.html %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include seo.html %}
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="alternate" href="{{ site.url }}{{ page.url }}" hreflang="x-default" />

<style>@-ms-viewport { width: device-width; }</style>
<link rel="stylesheet" href="{{ relBase }}/assets/js/marzipano/reset.css">
<link rel="stylesheet" href="{{ relBase }}/assets/js/marzipano/style.css">
</head>
<body>

<div id="hint">Click anywhere on the page to start playing the video.</div>

<div id="pano"></div>

<script src="{{ relBase }}/assets/js/marzipano/es5-shim.js"></script>
<script src="{{ relBase }}/assets/js/marzipano/eventShim.js"></script>
<script src="{{ relBase }}/assets/js/marzipano/requestAnimationFrame.js" ></script>
<script src="{{ relBase }}/assets/js/marzipano/marzipano.js" ></script>

<script src="{{ relBase }}/assets/js/marzipano/VideoAsset.js"></script>
<script src="{{ relBase }}/assets/js/marzipano/index.js"></script>

<script src="{{ relBase }}/assets/js/marzipano/attribution.js"></script>
<script>attribution('Basspistol TV', '{{ site.title }}', 'https://setto.basspistol.com');</script>

</body>
</html>