---
title: ゲットー・スービド
layout: default
description: >-
  The music of To&nbsp;Setto&nbsp;Setto is a cypher cloud jam
  induced by popcorn chewing threads in obscure chat-rooms.
image: /images/setto-logoicon.svg
date: 2018-12-11 00:00:00
---
{% include relBase.html %}
<!-- Banner -->
<section
  class="banner onload-image-fade-in onload-content-fade-right style3 fullscreen content-align-center image-position-center">
  <div class="content">
    <h1 style="margin-top:80px">{{ page.title }}</h1>

    <p class="major">{{ page.description }}</p>
    <ul class="actions stacked">
      <li><a href="#albums" class="button large wide smooth-scroll-middle">Play dat!</a></li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ relBase }}{{ page.image }}" alt="" class="editable" />
  </div>
</section>

{% assign postcount = site.posts | size %}
{% if postcount > 0 %}
<!-- NEWS -->
<section id="news" class="wrapper style1 align-center">

  <div class="inner">
    <h2 class="editable">{{ site.data.translations[page.lang].news }}</h2>
    <p class="editable">Ramblings and shit</p>
    <p class="editor-link"><a class="btn" rel="nofollow" href="cloudcannon:collections/_posts/">
        <strong>&#9998;</strong> Edit All News
      </a></p>
  </div>
</section>
{% for post in site.posts %}

<section id="second"
  class="spotlight style1 orient-{% cycle 'left', 'right' %} content-align-{% cycle 'right', 'left' %} image-position-center onscroll-image-fade-in"
  {% if forloop.index == 1 %}style="box-shadow: none;" {% endif %}>

  <div class="content">
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    <p class="editor-link"><a class="btn" rel="nofollow" href="cloudcannon:collections/{{ post.path }}">
        <strong>&#9998;</strong> Edit This Post
      </a></p>
    <ul class="actions stacked">
      <li><a href="{{ relBase }}{{ post.url }}" class="button">{{ site.data.translations[page.lang].read-post }}</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ relBase }}{{ post.image }}" alt="{{ post.title }}" />
  </div>
</section>

{% endfor %}
<!-- End News -->
{% endif %}

<!-- Albums -->
{% for album in site.albums reversed %}
<section id="albums" class="section-shadow banner style1 orient-{% cycle 'left', 'right' %} content-align-{% cycle 'right', 'left' %} image-position-center fullscreen onload-image-fade-in onload-content-fade-right">

  <div class="content">
    <h1>{{ album.title }}</h1>
    {% for style in album.tracks %}
    {% for category in style.common.genre %}
    {% assign categories_array = categories_array | push: category | uniq %}
    {% assign count = categories_array | size %}
    {% endfor %}
    {% endfor %}
    <p>Style{% if count > 1 %}s{% endif %}:
      <strong>{% for genre in categories_array %}{{ genre }}{% unless forloop.last %},
        {% endunless %}{% endfor %}</strong><br />
      {{ album.date | date: '%Y' }}</p>
    <p>Track list:<br />
      {% for track in album.tracks %} 
      {{ track.common.track.no }}. <strong>{{ track.common.title }}</strong> <span id="{{ track.common.title | slugify | remove: '-'  }}"></span> <br />
      <script type="text/javascript">
        var {{ track.common.title | slugify | remove: '-'  }}timestamp = {{ track.format.duration | round }};
        var {{ track.common.title | slugify | remove: '-'  }}hours = Math.floor({{ track.common.title | slugify | remove: '-'  }}timestamp / 60 / 60);
        var {{ track.common.title | slugify | remove: '-'  }}minutes = Math.floor({{ track.common.title | slugify | remove: '-'  }}timestamp / 60) - ({{ track.common.title | slugify | remove: '-'  }}hours * 60);
        var {{ track.common.title | slugify | remove: '-'  }}seconds = {{ track.common.title | slugify | remove: '-'  }}timestamp % 60;
        var {{ track.common.title | slugify | remove: '-'  }}formatted = {{ track.common.title | slugify | remove: '-'  }}hours.toString().padStart(2, '0') + ':' + {{ track.common.title | slugify | remove: '-'  }}minutes.toString().padStart(2, '0') + ':' + {{ track.common.title | slugify | remove: '-'  }}seconds.toString().padStart(2, '0');
        var theSpan = document.getElementById("{{ track.common.title | slugify | remove: '-'  }}");
        theSpan.innerHTML = {{ track.common.title | slugify | remove: '-'  }}formatted;
      </script>
      {% endfor %}
    </p>
    <ul class="actions stacked">
      <li><a href="{{ relBase }}{{ album.url }}" class="button big wide icon solid fa-volume-up">Listen</a></li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ relBase }}{{ album.cover }}" alt="{{ album.title }}" title="Nordforce Ecosystem" />

  </div>
</section>
{% endfor %}

<!-- Tracks -->
<section id="clients" class="wrapper style1 align-center">


  <!-- Gallery -->
  <div class="gallery style1 medium lightbox onscroll-fade-in">
    {% for track in site.tracks %}
    <article>
      <a href="{{ relBase }}{{ track.url }}" class="image">
        <img src="{{ relBase }}{{ track.cover }}" alt="{{ track.name }} " />
      </a>
      <div class="caption">
        <h3>{{ track.common.title }}</h3>

        <p>
          <strong>{{ track.common.genre }}</strong>
          <br />{{ track.common.year }}</p>
        <ul class="actions fixed">
          <li><span class="editable button small">Play dat!</span></li>
        </ul>
      </div>
    </article>
    {% endfor %}
  </div>
  <!-- End Gallery -->

</section>
<!-- End Tracks -->



{% include contact.html %}
{% include footer.html %}