---
title: ゲットー・スービド
layout: 
description: >-
  The music of 徒 SETTO セット (pronounced: To Setto Setto) is a cypher cloud jam
  induced by popcorn chewing threads in obscure chat-rooms.
cover:
date: 2018-12-11 00:00:00
category:
---
<!DOCTYPE html> 
<!--

  徒 setto セット bless you, oh code seekers, with an eternal god and master free wish of good fortune. 

-->
<html lang="en">
  <head>
{% include relBase.html %}
{% if page.category == 'music' %}{% include trackhead.html %}{% else %}{% include pagehead.html %}{% endif %}
{% include matomo.html %}
  
</head>

  <body>

    <canvas style="display:none" id="canvas" width="285" height="285"></canvas>
    <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
    <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>

<div class="playercontent">
  <div></div>
  <div></div>  
</div>
<div class="playercontrol">
  <div>
{% include /svg/playercontrol.svg %}
  </div>
</div>
</body>

</html>