{% include allhead.html %} 

  <!-- Main Entity of Page -->

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ page.title }} | {{ site.title }}",
    {% if page.description == null %}"description": "{{ site.tagline | strip_html }}",{% else %}"description": "{{ page.description | strip_html }}",{% endif %}
    "image": {
        "@type": "ImageObject", {% if page.cover == null %}
        "url": "{{ site.url }}{{ site.banner }}",
        "width": "1024px",
        "height": "1024px"{% else %}"url": "{{ site.url }}/assets/img/{{ page.cover }}"{% endif %}
    },
    "url": "{{ site.url }}{{ page.url }}",
    "mainEntityOfPage": "{{ site.url }}",
    "inLanguage": "en_us",
    "headline": "{{ site.tagline }}",
    "dateCreated": "{{ page.date }}",
    "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
    "datePublished": "{{ page.date }}",
    "copyrightYear": "{{ page.last_modified_at | date: "%Y" }}",
    "author": {
        "@type": "Person",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "sameAs": [{% for social_id in site.social_ids %}{% assign social = site.social[social_id] %}"{{ social }}"{% unless forloop.last %},{% endunless %}{% endfor %}]
    },
    "copyrightHolder": {
        "@type": "Person",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "sameAs": [{% for social_id in site.social_ids %}{% assign social = site.social[social_id] %}"{{ social }}"{% unless forloop.last %},{% endunless %}{% endfor %}]
    },
    "publisher": {
        "@type": "Person",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "sameAs": [{% for social_id in site.social_ids %}{% assign social = site.social[social_id] %}"{{ social }}"{% unless forloop.last %},{% endunless %}{% endfor %}]

    }
  }
  </script>

  <!-- Facebook OpenGraph -->

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />{% if page.description == null %}
  <meta property="og:description" content="{{ site.tagline | strip_html }}" />{% else %}
  <meta property="og:description" content="{{ page.description | strip_html }}" />{% endif %}{% if page.cover != null %}
  <meta property="og:image" content="{{ site.url }}/assets/img/{{ page.cover }}" />{% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.banner }}" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="897px" />
  <meta property="og:image:height" content="897px" />{% endif %}
  <meta property="og:site_name" content="{{ site.title }}" />
  {% for social_id in site.social_ids %}{% assign social = site.social[social_id] %}<meta property="og:see_also" content="{{ social }}" />{% endfor %}

  <!-- END rendered SEO Meta -->


