<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="{{ relBase }}/assets/vi/{{ page.vid }}.webm" type="video/webm">
    <source src="{{ relBase }}/assets/vi/{{ page.vid }}.mp4" type="video/mp4">
  </video>
  
  <!-- Optional: some overlay text to describe the video -->

<style type="text/css">
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: -10;
  }
  
  /* Add some content at the bottom of the video/page */
  #content {
    margin:auto;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0;
    display: flex;
    z-index: 10;
  }
  .description {
    padding: 10px;
    flex: 1 1 300px;
    flex-wrap: wrap;
    min-width: 300px;
  }

  canvas {
    z-index: -100;
  }
  </style>
  <!-- <script>
    // Get the video
    var video = document.getElementById("myVideo");
    
    // Get the button
    var btn = document.getElementById("myBtn");
    
    // Pause and play the video, and change the button text
    function myFunction() {
      if (video.paused) {
        video.play();
        btn.innerHTML = "Pause";
      } else {
        video.pause();
        btn.innerHTML = "Play";
      }
    }
    </script> -->
    