{% if page.collection == 'tracks' %}
<section class="streambox" style="margin-top:40px;">
<h3 style="text-align: center;display: block;">Buy 徒 Setto セット Music</h3>
<div class="streamer">
  {% for shop in site.data.stores %}
  {% if shop.download == true %}
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">Buy on {{ shop.name }}</a>
  {% endif %}
  {% endfor %}
</div>

<h3 style="text-align: center;display: block;margin-top:40px;">Stream</h3>
<div class="streamer">

  {% for shop in site.data.stores %}
  {% if shop.download != true %}
  
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " " }}']);" style="flex: 0 0 75px;margin:10px; font-size: 75px;" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="icon style2 brands {{ shop.icon }}"><span class="label">{{ shop.name }}</span></a>
  {% endif %}
  {% endfor %}
</div>
</section>
{% else %}
{% if page.stores[0].name != nil %}
<section class="streambox" style="margin-top:40px;">
  <h3 style="text-align: center;display: block;">Buy this record</h3>
  <div class="streamer">
    {% for shop in page.stores %}
    {% if shop.download == true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">Buy on {{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  
  <h3 style="text-align: center;display: block;margin-top:40px;">Stream</h3>
  <div class="streamer">
  
    {% for shop in page.stores %}
    {% if shop.download != true %}
    
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " " }}']);" style="flex: 0 0 75px;margin:10px; font-size: 75px;" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="icon style2 brands {{ shop.icon }}"><span class="label">{{ shop.name }}</span></a>
    {% endif %}
    {% endfor %}
  </div>
  </section>
{% else %}
<section class="streambox" style="margin-top:40px;">
  <h3 style="text-align: center;display: block;">This track can't be bought</h3>
  <p>But other tracks are available here:</p>
  <div class="streamer">
    {% for shop in site.data.stores %}
    {% if shop.download == true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">Buy on {{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  
  <h3 style="text-align: center;display: block;margin-top:40px;">Stream</h3>
  <div class="streamer">
  
    {% for shop in site.data.stores %}
    {% if shop.download != true %}
    
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " " }}']);" style="flex: 0 0 75px;margin:10px; font-size: 75px;" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="icon style2 brands {{ shop.icon }}"><span class="label">{{ shop.name }}</span></a>
    {% endif %}
    {% endfor %}
  </div>
  </section>
{% endif %}
{% endif %}