/****************
| FONTS
****************/

@font-face {
font-family: 'Plaster';
  src: url('../fonts/collects.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Astloch';
    src: url('../fonts/NikkyouSans-B6aV.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Astloch-B';
    src: url('../fonts/NikkyouSans-B6aV.ttf');
    font-weight: bold;
    font-style: normal;
  }
body {
  font-family: Astloch, Helvetica, Arial, sans-serif;
  color: #9bc9b5;
  font-size: 1em;
  background-color: #190086;
}

canvas {
  overflow-x: hidden;
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: -1;
}

h1, h2, h3, h4 {
  font-family: Plaster, Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
p {
  font-family: Astloch-B, Helvetica, Arial, sans-serif;
  font-size: 2em;

}
b, strong {
  font-weight: bold;
}
a {
  font-family: Astloch-B;
  text-decoration: none;
  color: #fff;
  transition-property: color;
  transition: color 0.5s ease-in-out;
}
a:hover {
  color: #ff00b6;
  transition-property: color;
  transition: color 0.5s ease-in-out;
}


/*******
Content 
*******/
#content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 10px;
  font-size: 1.2em;
  .flexhead {
    flex: 1 0 40%;
  }
  .flexitem {
    padding: 0 10px 0 2px;
    flex: 1 1 400px;
    flex-wrap: wrap;
  }
  #flexrelease {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #9bc9b5;
  
  }
  .flexrelease {
    margin: auto;
    padding: 5px;
    flex: 1 1 300px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
  .flexrelease:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

// Background Video
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(230deg, #100147e6, #4e0055e6);
  margin:0;
  padding: 0;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: #000 center center / cover no-repeat;
    
  }
  .pivot {
    background: transparent;
    flex: 0 0 250px;
  }
  h1 {

    font-size: 2.25em;
  }
}
