.playercontent {
  height: 90vh;
  background-color: #0f0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
  .coverart {
    background-size: cover;
    background-position: center center;
  }
  div {
    background-color: rgba(255, 255, 255, 0.486);
    flex: 1 1 300px;
  }
  div:nth-child(even) {
    background-color: #00000070;
  }
}



.playercontrol {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;

  height:10vh;
  #remoteControl {
    margin-left: 10px;
    height: 10vh;
    width: 50vw;
    max-width: 400px;
    #pause {
      display:none;
    }
  }
}
