.playercontent {
  height: 90vh;
  background-color: #0f0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
  div {
    background-color: #fff;
    flex: 1 1 300px;
  }
  div:nth-child(even) {
    background-color: #000000;
  }
}
.playercontrol {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;

  height:10vh;
  #remoteControl {
    margin-right: auto;
    height: 10vh;
    width: 50vw;
    max-width: 400px;
    #rwdButton:hover + #skipRwd {
      fill: #ff0;
    }
  }
}
