
/************
Music
************/
.flexrecord {
  margin: 0;
  flex: 1 1 300px;
  transition: background-position ease .5s, filter ease 0.5s, opacity ease .5s;
  -webkit-filter: invert(100%) blur(2px);
  -moz-filter: invert(100%) blur(2px);
  -ms-filter: invert(100%) blur(2px);
  -o-filter: invert(100%) blur(2px);
  filter: invert(100%) blur(2px);
  opacity: 0.5;
}
.flexrecord:hover {
  transition: background-position ease .5s, filter ease 0.5s, opacity ease .5s;
  -webkit-filter: invert(0%) blur(0px);
  -moz-filter: invert(0%) blur(0px);
  -ms-filter: invert(0%) blur(0px);
  -o-filter: invert(0%) blur(0px);
  filter: invert(0%) blur(0px);
  opacity: 1;
}
.flexshops {
  margin: 0;
  flex: 1 1 300px;
  transition: background-position ease .5s, filter ease 0.5s, opacity ease .5s;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.5;
}
.flexshops:hover {
  transition: background-position ease .5s, filter ease 0.5s, opacity ease .5s;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
}
.releaseimage {
  width:100%;
  border-radius: 3px;

  margin: 0 5px 5px 0;
}