---
title: Darkweb
vid: darkweb #no extension
image: darkweb.jpg
category: music
audio_url: https://shop.basspistol.com/album/darkweb
date: 2019-02-07
description: >-
  At the end of the tunnel through the flashy but controlled cyberspace we call the &quot;Internet&quot;, there is a light of hope for the underground. 
---
{% include base.html %} 
<!DOCTYPE html> 
<html>
  <head>
    % include trackhead.html %}
  </head>

  <body>
{% include navmenu.html %}
    <div id="content">
      <div class="description">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>

      </div>
      <div class="description"><br />Provide yourself:<br />{% for shop in site.data.darkweb %}<a href="{{ shop.url }}" target="_blank" rel="noopener noreferrer nofollow"><h2 style="line-height: 0.5em;">{{ shop.name }}</h2></a>
{% endfor %}
      </div>
    </div> 
{% include releasepage.html %}
  </body>

</html>
