{% include base.html %} 
<!DOCTYPE html> 
<html>
  <head>
{% if page.category == 'music' %}{% include trackhead.html %}{% else %}{% include pagehead.html %}{% endif %}
  </head>

  <body>
{% include navmenu.html %}
    <canvas style="display:none" id="canvas" width="285" height="285"></canvas>
    <canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
    <canvas id="canvas2" width="570" height="570">*** THIS BROWSER DOES NOT SUPPORT THE CANVAS ELEMENT ***</canvas>
{{ content }}
  </body>

</html>
