---
layout: default
---

{% include relBase.html %}

<!-- Banner -->
<section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center">
  <div class="image">
    <img src="{{ relBase }}{{ page.image }}" alt="" class="editable" />
  </div>
</section>
<!-- Content -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h1>{{ page.title }}</h1>
    <div class="index align-left">
      <!-- Author -->
      <section>
        {% include author.html %}
        <!-- Content -->
        <div class="content">
          {{ content }}

        </div>
      </section>
    </div>
  </div>
</section>




{% include footer.html %}