---
layout: default
---
{% include relBase.html %}

<!-- Banner -->
<section
  class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center"
  style="height:100vh;background-color: rgba(13,13,13,0.85);">
  <div class="content editable">
    <h1 class="editable">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <ul class="actions stacked">
      <li><a href="#moe" class="button small smooth-scroll-middle">cheggit!</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ relBase }}{{ page.image }}" alt="{{ page.title }}" class="editable" />
  </div>
</section>
<!-- Content -->
<section class="wrapper style1 align-center">
  <div class="inner" style="padding-top: 40px;">
    <div class="index align-left">
      <!-- Author -->
      <section style="padding-top:40px;" id="moe">
        {% include author.html %}
        <!-- Content -->
        <div class="content">
          <div style="font-family: monospace;font-size: 16px;">
          {{ content }}
          <p>{{ page.credits }}</p>
          </div>
          {% if page.category == 'release' %}
          <!-- HERE BEGINS MADNESS -->
          {% for album in site.albums %}
          {% if page.album == album.slug %}
          <!-- Content -->
          <div class="content">

            

            {% for track in album.tracks %}
            <p style="margin-bottom: 30px;">
              <a href="{{ relBase }}/{{ track.slug }}" class="icon style2 solid player fa-play"></a> <a href="{{ relBase }}/{{ track.slug }}" style="text-decoration: none;"><strong>{{ track.common.track.no }}. {{ track.common.title }}</strong> </a>
              <br /><span id="{{ track.common.title | slugify | remove: '-'  }}"
                style="font-family: monospace;font-size: 14px"></span> | 
              <span style="font-family: monospace;font-size: 14px">{{ track.common.genre }} </span>
            </p>
            
            <script type="text/javascript">
              var {{ track.common.title | slugify | remove: '-'  }}timestamp = {{ track.format.duration | round }};
              var {{ track.common.title | slugify | remove: '-'  }}hours = Math.floor({{ track.common.title | slugify | remove: '-'  }}timestamp / 60 / 60);
              var {{ track.common.title | slugify | remove: '-'  }}minutes = Math.floor({{ track.common.title | slugify | remove: '-'  }}timestamp / 60) - ({{ track.common.title | slugify | remove: '-' }}hours * 60);
              var {{ track.common.title | slugify | remove: '-'  }}seconds = {{ track.common.title | slugify | remove: '-' }}timestamp % 60;
              var {{ track.common.title | slugify | remove: '-'  }}formatted = {{ track.common.title | slugify | remove: '-' }}hours.toString().padStart(2, '0') + ':' + {{ track.common.title | slugify | remove: '-' }}minutes.toString().padStart(2, '0') + ':' + {{ track.common.title | slugify | remove: '-' }}seconds.toString().padStart(2, '0');
              var theSpan = document.getElementById("{{ track.common.title | slugify | remove: '-'  }}");
              theSpan.innerHTML = {{ track.common.title | slugify | remove: '-' }}formatted;
            </script>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- Tracks -->
<section id="albumdata" class="wrapper style1 align-center">
  <div class="gallery style1 medium lightbox onscroll-fade-in">
    {% for track in album.tracks %}
    <article>
      <a href="{{ relBase }}/{{ track.slug }}/" class="image">
        <img src="{{ relBase }}{{ track.cover}}" alt="{{ track.common.title }}" />
      </a>
      <div class="caption">
        <h3>{{ track.common.title }}</h3>
        <p>
          <strong>{{ track.common.genre }}</strong>
          <br />{{ track.common.year }}</p>
        <ul class="actions fixed">
          <li><span class="editable button small icon fa-play-circle">Play</span></li>
        </ul>
      </div>
    </article>
    {% endfor %}


      {% include streamer.html %}

  </div>
</section>
<!-- END Tracks -->

{% break %} {% endif %} {% endfor %}
<!-- HERE ENDS MADNESS -->
{% endif %}
{% if page.collection == 'posts' %}
<section class="wrapper style1 align-center">
  <div class="inner">
    <div class="index align-left">
      <!-- Author -->

      <section>

        <!-- Content -->
        <div class="content">
          <!-- post Naviation -->
          <div style="text-align: center;">
            <h3>{{ site.data.translations[page.lang].post-nav}}</h3>
          </div>
          <div class="post-nav">
            <div>
              {% if page.previous.url and page.lang == page.previous.lang %}
              <h4><a href="{{page.previous.url}}"><i class="fas fa-arrow-left"></i></a> <a
                  href="{{page.previous.url}}">&nbsp;{{page.previous.title}}</a></h4>
              <p style="margin-right: 20px">{{ page.previous.description }}</p>
              {% endif %}
            </div>
            <div class="post-nav-next">
              {% if page.next.url and page.lang == page.next.lang  %}
              <h4><a href="{{page.next.url}}">&nbsp;{{page.next.title}}</a> <a href="{{page.next.url}}"><i
                    class="fas fa-arrow-right"></i></a></h4>
              <p style="margin-left: 20px">{{ page.next.description }}</p>
              {% endif %}
            </div>
          </div>
          <!-- End Post Navigation -->
        </div>
      </section>

    </div>
  </div>
</section>
{% endif %}

{% include footer.html %}